.container{
    border:2px solid black;
    background-color: green;
}
.col1{
    border:2px solid red;
    background-color: aqua;
}
.col2{
    border:2px solid yellow;
    background-color: blue;
}
body{
    background-color: gray;
}
/* .col2.ml-4 {
    margin-left: 0.25rem; /* Adjust the margin value as needed */

